<div class="home-wrapper">
    <button class="btn" (click)="rerouteToNewSession()">
        Beginne eine neue Sitzung
    </button>
    <button class="btn" (click)="rerouteToNewEntity({ entity: 'word' })">
        Neue Vokabeln anlegen oder editieren
    </button>
    <button class="btn" (click)="rerouteToNewEntity({ entity: 'language' })">
        Neue Sprache anlegen
    </button>
    <button class="btn" (click)="rerouteToNewEntity({ entity: 'user' })">
        Neuen Nutzer anlegen
    </button>
    <button class="btn" (click)="rerouteToSessionHistory()">
        Sitzungshistorie
    </button>
</div>